* {
  padding: 0;
  margin: 0; }


html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-smoothing: antialiased; 
  color: #26282C;
  background: #F4F5F1;
}

a {
  color: #26282C;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}

.header {
  padding: 40px 40px 0;
}

.wrapper {
  position: relative;
  padding: 40px;
}


      .grid {

    column-count: 4;
    column-gap: 40px;
    margin: 0px;
    padding: 0;
      }


.grid-item {
    display: inline-block;
    padding: 0;
    margin: 0 0 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.map-link {
  opacity: 1;
  transition: 0.2s;
}
.map-link:hover {
  opacity: 0.8;
}

.grid-item img {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  height: 300px;
  background: #ddd;
}

.tag {
  background: rgba(100,100,100,0);
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 0px;
  opacity: 0.5;
  font-weight: 300;
  transition: 0.2s;
}
.tag:hover {
  background: rgba(100,100,100,0.1);
  opacity: 1;
}

